<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{username}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>>

    <logger name="org.parancoe" level="${logger-level.org.parancoe}"/>
    <logger name="it.cai" level="${logger-level.it.cai.integration}"/>

    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>