<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2013 Lambico Team <info@lambico.org>

    This file is part of Lambico WS Archetype Template - Core.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lambico="http://www.lambico.org/schema/lambico"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.lambico.org/schema/lambico http://www.lambico.org/schema/lambico.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <import resource="database-test.xml"/>
    
    <context:component-scan base-package="org.lambico.ws.archetype.template.core.bo"/>
    <context:component-scan base-package="org.lambico.ws.archetype.template.core.service"/>

    <!-- Authomatic discovering of persistent classes -->
    <lambico:discover-persistent-classes basePackage="org.lambico.ws.archetype.template.core.po"/>
    <!-- Authomatic DAO definition from persistent classes -->
    <lambico:define-daos baseInterfacePackage="org.lambico.ws.archetype.template.core.dao"/>

    <bean id="exceptionManager" class="org.lambico.dao.BypassingExceptionManager"/>
    
</beans>
